{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main id="homepage">
	<section id="splash">
		<div class="container"><img class="img-icon" src="{{ SITEURL }}/theme/images/DavidAsbothCartoonProfile.svg"
				alt="Illustration of David" />
			<h1 class="text-centered"><span class="colour-highlight">David Asboth</span> is a data generalist,
				consultant, author, and educator.</h1>
			<p class="text-centered">David specialises in creating personalised learning experiences to upskill both
				individuals and teams in vital programming and data science skills. His book "The Well-Grounded Data Analyst" is due for release in 2025.</p>
			<a href="#solutions" class="button button-filled">Learn more</a>
		</div>
	</section>
	<section id="book" class="bg-lighter">
		<div class="container flex-container">
			<div class="col-50">
				<img src="{{ SITEURL }}/theme/images/the-well-grounded-data-analyst-book-mockup-web-res.png"
					alt="Book cover of The Well-Grounded Data Analyst by David Asboth" />
			</div>
			<div class="col-50">
				<p class="text-pre-heading text-dark">Get the book</p>
				<h2 class="text-dark">The Well-Grounded Data Analyst: Solve real-world problems like a pro</h2>
				<p class="text-dark">Complete eight data science projects that lock in important real world skills, along
					with a practical process you can use to learn any new technique quickly and efficiently.</p>
				<ul class="text-dark">
					<li>High-value skills, usually missing from basic training, to tackle specific analytical problems</li>
					<li>Deconstructing problems for faster, practical solutions</li>
					<li>Data modeling, PDF data extraction, and categorical data manipulation</li>
					<li>Handling vague metrics, deciphering inherited projects, and defining customer records</li><br>
				</ul><a target="_blank" href=" https://mng.bz/DMKR"
					class="button button-filled">Learn more</a>
			</div>
		</div>
		<div class="spacer-5" id="podcast"></div>
		<div class="container flex-container">
			<div class="col-50">
				<p class="text-pre-heading text-dark">Listen to the podcast</p>
				<h2 class="text-dark">Half Stack Data Science: The Podcast</h2>
				<p>Half Stack Data Science is a podcast about data science in the real world. It unpacks the practical side of data science, from storytelling and education to real-world applications, in lively conversations with industry experts. It's where theory meets practice in the world of data science. Brought to you by David Asboth and Shaun McGirr.</p>
				<a target="_blank" href="https://halfstackdatascience.com" class="button button-filled">Podcast
					website</a>
			</div>
			<div class="col-50">
				<img id="podcast-cover" src="{{ SITEURL }}/theme/images/halfstackdatascience_1400x1400.jpg"
					alt="Logo for the Half Stack Data Science podcast by David Asboth and Shaun McGirr" />
			</div>
		</div>
		<div class="spacer-5"></div>
	</section>
	<section id="trusted-logos">
		<div class="container">
			<p class="text-pre-heading text-centered">Trusted by</p>
			<div class="flex-container">
				<img src="{{ SITEURL }}/theme/images/UAL logo.svg" alt="University of the Arts London" />
				<img src="{{ SITEURL }}/theme/images/barclays.svg" alt="Barclays" />
				<img src="{{ SITEURL }}/theme/images/general-assembly.svg" alt="General Assembly" />
				<img src="{{ SITEURL }}/theme/images/Lloyds Banking Group.svg" alt="Lloyds Banking Group" />
				<img src="{{ SITEURL }}/theme/images/lendable-logo-01.svg" alt="Lendable" />
				<img src="{{ SITEURL }}/theme/images/Novartis-Logo.svg" alt="Novartis" />
				<img src="{{ SITEURL }}/theme/images/DeutscheBank.svg" alt="Deutsche Bank" />
				<img src="{{ SITEURL }}/theme/images/Roland-Berger.svg" alt="Roland Berger" />
				<img src="{{ SITEURL }}/theme/images/AIR_LIQUIDE_logo.svg" alt="Air Liquide" />
				<img src="{{ SITEURL }}/theme/images/Pluralsight_Logo.svg" alt="Pluralsight" />	
			</div>
			<blockquote class="speechbubble">
				<p class="text-dark"><span class="colour-highlight">" </span>The training was perfect. Can't ask for a
					better instructor than David. The pace at which the
					course progressed is really commendable along with the exercises.
					<span class="colour-highlight">"</span>
				</p>
				<cite><em>Intermediate Python for Data Science</em> student </cite>
			</blockquote>
		</div>
	</section>
	<section id="solutions">
		<div class="container">
			<h2 class="text-centered colour-bottom-border">Ways we can work together</h2>
			<div class="flex-container">
				<div class="col-33 padding-medium">
					<h3>Consultancy</h3>
					<p><span class="bold">More companies need data science than they need data scientists.</span> Get
						help with a piece of research or one-off deep dive analysis by hiring a consultant instead. I
						can also help you create a bespoke job spec for a permanent data role, if you decide it’s
						something you want to take further.</p>
				</div>
				<div class="col-33 padding-medium">
					<h3>Training</h3>
					<p><span class="bold">Upskill your employees with data skills for the 21st century.</span> I develop
						bespoke courses to teach you and your staff the tools, technical skills and general “data
						thinking” you need to analyse and leverage your data to make better, more efficient business
						decisions.</p>
				</div>
				<div class="col-33 padding-medium">
					<h3>Mentoring</h3>
					<p><span class="bold">Just starting out in your data science career?</span> I offer short (30m),
						medium (60m) and long (90m) slots for one-on-one mentoring where I can help with your learning
						objectives, project reviews, optimising your CV &amp; cover letter, and give you general
						industry advice.</p>
				</div>
			</div>
		</div>
		<blockquote class="speechbubble">
			<p class="text-dark"><span class="colour-highlight">" </span> I was very impressed by David's knowledge and
				real life application of the concepts
				discussed. He also demonstrated a fine understanding of his audience, which helped the course
				flow well!
				<span class="colour-highlight">"</span>
			</p>
			<cite><em>Intro to Python</em> student </cite>
		</blockquote>
		<div class="text-centered"><a href="#contact" class="button button-filled">Contact me</a></div>
	</section>
	<section id="articles">
		<div class="container">
			<h2 class="text-centered colour-bottom-border">Latest articles &amp; tutorials</h2>
			<div class="flex-container">
				{% for article in articles[:3] %}
				<div class="col-33 padding-medium">
					<h3><a href="/{{ article.slug }}">{{ article.title }}</a></h3>
					<a class="tag" href="/category/{{ article.category.slug }}">{{ article.category.name }}</a>
					<p>{{ article.summary }}</p>
				</div>
				{% endfor %}
			</div>
			<div class=" text-centered"><a href="articles" class="button button-filled">More articles</a></div>
		</div>
	</section>
	{% include 'include/about.html' %}
	{% include 'include/contact.html' %}
</main>

{% endblock %}