{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<meta http-equiv="refresh" content="0; url=https://github.com/davidasboth/the-well-grounded-data-analyst">
{% endblock %}

{% block content %}
    <!-- The normal content block for your page will go here -->
    {{ super() }}
	<main id="articles-tutorials"> 
		  <section id="splash">
			<div class="container">
				<h1 class="text-centered">Redirecting...</h1>
				<p class="text-centered">This page should automatically redirect to the repository for my book, The Well-Grounded Data Analyst. If you are not redirected automatically, you can visit the link here: <a href="https://github.com/davidasboth/the-well-grounded-data-analyst">https://github.com/davidasboth/the-well-grounded-data-analyst</a></p>
			 </div>
		</section>
	</main>
{% endblock %}