<section id="about">
    <div class="container flex-container">
      <div class="col-40 image-full">
            <img src="{{ SITEURL }}/theme/images/David-Asboth-profile-image-square.jpg">
        </div>
      <div class="col-60">
        <h2>About David</h2>
        <p>I'm a freelance data scientist, consultant, and educator with an MSc. in Data Science and a background in software and web development. My previous roles have been a range of data science, software development, team management and software architecting jobs.</p>
        <p class="text-pre-heading">Things I also do:</p>
        <ul>
          <li>
            I co-host the <a href="https://halfstackdatascience.com">Half Stack Data Science podcast</a> where we talk about the realities of data science in the business world
            </li>
          <li>
            I've written various <a href="/articles">articles and tutorials</a> about data science
          </li>
          <li>
            I've given a selection of talks at large conferences and universities, all on similar topics of "real world data science"
            </li>
          <li>
            I occasionally stream some data science over on <a href="https://www.twitch.tv/jazzsloth">Twitch</a>, where I take a vague project idea, a dataset, and try to come up with an answer in about an hour, explaining the code and thought process as I go.
            </li>
          </ul>
        </div>
      </div>
    </section>