<section id="contact">
<div class="container flex-container">
  <div class="col-40 image-full">
	<img src="{{ SITEURL }}/theme/images/DataScienceFestival-02-contact.jpg">
	</div>
  <div class="col-60">
	<h2>Contact me</h2>
	<p>Please give me a brief idea of what you're looking for help with, and I'll get back to you very soon. If you're having trouble with the form below, you can also email me at <a href="mailto:hello@davidasboth.com" target="_blank">hello@davidasboth.com</a></p>
	<form action="https://api.formcake.com/api/form/184308c0-d548-4a26-ae33-db870931e16d/submission" method="POST">
	  <input type="text" name="name" placeholder="Name *" required>
	  <input type="email" name="email" placeholder="Email address *" required>
	  <select name="service-required" required>
		<option value="" disabled selected hidden>What are you looking for help with?</option>
		<option value="consulting-largeorg" >Consulting for a large organisation</option>
		<option value="consulting-smallbiz" >Consulting for a small business/startup</option>
		<option value="education-staff" >Education for staff members</option>
		<option value="mentoring-1to1" >Mentoring 1:1s for students/career newbies</option>
		 <option value="other" >Other</option>
		</select>
	  <textarea placeholder="Message *" name="message" required></textarea>
	  <input type="text" name="spiderweb" style="display: none">
		  <input type="submit" class="button button-filled" value="Get in touch!">
		  <a class="icon" href="https://twitter.com/davidasboth"><img src="{{ SITEURL }}/theme/images/icon-twitter.svg" alt="Twitter"/></a>
		  <a class="icon" href="https://www.linkedin.com/in/david-asboth-9256772b"><img src="{{ SITEURL }}/theme/images/icon-linkedin.svg" alt="LinkedIn"/></a>
	  </form>
	</div>
  </div>
</section>
